body {
  background-image: linear-gradient(to right, #507 , #0aa);
  
  color: #eee;
  
  padding: 10px;
}

canvas {
  border: 1px solid #555;
  background-color: #fff;
  width: 400px;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #bbb;
}

input {
  padding: 5px 10px;
  background-color: #ddd;
  border-radius: 5px;
  color: #000;
  font-size: 18px;
  margin-right: 5px;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #bbb;
}

input:visited, input:hover, input:active {
  background-color: #777;
  color: #fff;
}

h2, h1 {
  margin-bottom: 5px;
}

@media (max-width: 360px) {
  
  
  .container {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-left: 5% 10%;
  }

  canvas {
    width: 100%;
  }

  input {
    padding: 2% 5%;
    margin: 5%;
    width: 50%;
  }

  input[type="file"]{
    width: 80%;
  }
}